body {
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: plum;
  }
  
  .item {
    background-color: aliceblue;
    padding: 50px;
    font-weight: 900;
  }